:root {
  --bs-green-100: #44dc96;
  --bs-green-200: #29d786;
  --bs-green-300: #23bd76;
  --bs-green-400: #1ea265;
  --bs-green-500: #198754;
  --bs-green-600: #177a4c;
  --bs-green-700: #146c43;
  --bs-green-800: #115e3b;
  --bs-green-900: #0f5132;

  --bg-sepia-light: #f5f0e7;
}

.btn-primary {
  --bs-btn-bg: var(--bs-green-600);
  --bs-btn-border-color: var(--bs-green-600);
  --bs-btn-hover-bg: var(--bs-green-700);
  --bs-btn-hover-border-color: var(--bs-green-700);
  --bs-btn-active-bg: var(--bs-green-700);
  --bs-btn-active-border-color: var(--bs-green-700);
}

.btn-outline-primary {
  --bs-btn-border-color: var(--bs-green-700);
  --bs-btn-color: var(--bs-green-700);
  --bs-btn-hover-border-color: var(--bs-green-600);
  --bs-btn-hover-bg: var(--bs-green-600);
  --bs-btn-active-bg: var(--bs-green-600);
  --bs-btn-active-border-color: var(--bs-green-600);
}

.border-primary {
  border-color: var(--bs-green-400) !important;
}

.bg-sepia-light {
  background-color: var(--bg-sepia-light);
}