:root {
  --bs-green-100: #44dc96;
  --bs-green-200: #29d786;
  --bs-green-300: #23bd76;
  --bs-green-400: #1ea265;
  --bs-green-500: #198754;
  --bs-green-600: #177a4c;
  --bs-green-700: #146c43;
  --bs-green-800: #115e3b;
  --bs-green-900: #0f5132;

  --bs-primary: var(--bs-green-600);
  --bs-primary-hover: var(--bs-green-700);
  /* --bs-secondary: var(--bs-gray-600); */
  --bs-secondary-hover: var(--bs-gray-700);

  --bg-sepia-light: #f5f0e7;
}

/* Utility Classes */
.cursor-pointer {
  cursor: pointer;
}

.hover-opacity-100:hover {
  opacity: 1 !important;
}

/* Overrides */
.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-hover);
  --bs-btn-hover-border-color: var(--bs-primary-hover);
  --bs-btn-active-bg: var(--bs-primary-hover);
  --bs-btn-active-border-color: var(--bs-primary-hover);
}

.btn-outline-primary {
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-color: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary-hover);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary-hover);
  --bs-btn-active-border-color: var(--bs-primary-hover);
}

.border-primary {
  border-color: var(--bs-green-400) !important;
}

.bg-sepia-light {
  background-color: var(--bg-sepia-light);
}

.firebaseui-idp-button[data-provider-id="password"] {
  background-color: var(--bs-primary) !important;
}

.firebaseui-idp-button[data-provider-id="password"]:hover {
  background-color: var(--bs-green-800) !important;
}

.firebaseui-idp-button[data-provider-id="anonymous"] {
  background-color: var(--bs-secondary) !important;
}

.firebaseui-idp-button[data-provider-id="anonymous"]:hover {
  background-color: var(--bs-secondary-hover) !important;
}